# Lab1

1. Create a string variable called 'course_name' with the value "Python for Non-Majors", and print its length. 

hint: len()

In [1]:
course_name = "Python for Non-Majors"
print(len(course_name))

21

2. Rename the following invalid variable names to follow Python naming rules: 1st_name, @age, Full-Name, class, list.

3. Calculate the result of 5 multiplied by 3, divided by 2, and raised to the power of 4. Use parentheses to ensure correct precedence.

In [4]:
result = (5 * 3 / 2) ** 4
print(result)

3164.0625


4. Print the values of three variables on the same line, separated by commas and a space.

	name = "Alice", age = 30, city = "New York"

In [6]:
name = "Alice"
age = 30
city = "New York"
print(name, age, city, sep=', ')

Alice, 30, New York

5. Create a variable containing a string and reassign it to an integer.

In [42]:
s = 'hello'
s = 5
print(s)

5

6. Check the data type of a float variable and convert it to an integer.

In [14]:
f = 1.23
print(type(f))
n = int(f)
print(type(n))

<class 'float'>
<class 'int'>

7. Given an integer and a float, calculate their sum and product. Store the results in two separate variables and print them.

In [15]:
a = 1
b = 1.5
print(a + b)
print(a * b)

2.5
1.5

8. Use comparison and logical operators to evaluate a condition. The comparison should check if x is less than y, and if y is less than z. Print the value of result to the console.

	x = 10, y = 20, z = 30

In [16]:
x = 10
y = 20
z = 30
print(x < y < z)

True

# Lab2

1. Create a string of 10 asterisks using repetition, and print the length of the string.

	text = “*”

In [18]:
text = '*'
print(text * 10)
print(len(text * 10))

**********
10

2. Convert a string to title case and print the result. hint: title()

	text = "hello world"

In [19]:
text = "hello world"
print(text.title())

Hello World

3. Slice a string to obtain every second character, starting from the first character.

	text = "Python is fun!"

In [21]:
text = "Python is fun!"
t = text.split(' ')
for i in t:
    print(i[1:2])

y
s
u

4. Create a string containing double quotes and a newline character.

	text = This is a string with "double quotes" and a newline

In [22]:
text = 'This is a string with "double quotes" and a newline'
print(text)

This is a string with "double quotes" and a newline

5. Use the 'sep' argument in the print() function to print a list of items separated by commas.

	Items = apple, banana, orange

In [38]:
items = ['apple', 'banana', 'orange']

applebananaorangea, b, c

6. Get user input for a floating-point number and print its square.

In [26]:
f = float(input('실수 입력: '))
print(f ** 2)

28.09

7. Create a string 'email' and use string methods to replace '@' with ' [at] ' and '.' with ' [dot] '.

	email = "john.doe@example.com"

hint: replace() in str

In [39]:
email = "john.doe@example.com"
email = email.replace('@', '[at]').replace('.', '[dot]')
print(email)

john[dot]doe[at]example[dot]com

# Project

1. Text Analysis

Create a program that performs a simple analysis of a user-provided text passage.

<br>
Input:

The quick brown fox jumps over the lazy dog. The weather is great today. Let's go outside and play!

<br>
Instruction:

  * Prompt the user for a text passage.
  * Ignore case and punctuation.
  * Calculate and print the total number of characters, words, and sentences in the passage.
  * Calculate and print the average length of words and sentences.
  * Calculate and print the frequency of each vowel (a, e, i, o, u) and the percentage of vowels in the text.
  * Calculate and print the frequency of each word in the passage.

In [41]:
s = input("Input: ")

s = s.lower()
ss = s.split(' ')
print(len(s), len(ss), s.count('.'))

99 19 2

2. Web Article Text Analysis


You'll use the BeautifulSoup library to extract text from an article on a news website like the Washington Post, and then perform the same text analysis as before.

<br>

**Input:**

* https://www.washingtonpost.com/national-security/2023/03/31/trump-arraignment-secret-service/

* https://v.daum.net/v/20230401115141365

<br>

**Install the required libraries:**

```python
pip install bs4
pip install requests
```

In [ ]:
!pip install bs4
!pip install requests

In [ ]:
import re
import requests
from bs4 import BeautifulSoup

url = input("Enter the URL of the news article: ")
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
article = soup.find("article")
paragraphs = article.find_all("p")
text = " ".join(p.get_text() for p in paragraphs)
print('text: ', text)